@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<WebDevEsports.Models.Announcement>

<div class="body-header">
    <p class="body-header-text">News</p>
</div>

<div class="body-content">
    @foreach (Announcement item in Model)
    {
        <div class="announcement-content-card">  
            <div class="announcement-image-container">
                <img src="~/uploads/@item.ImageName" class="announcement-image" />
            </div>
            <h2 class="announcement-title">
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </h2>
            <p class="announcement-date-author">
                By @Html.DisplayFor(modelItem => item.AuthorDisplayName) at @Html.DisplayFor(modelItem => item.DateTime): @Html.DisplayFor(modelItem => item.NumberViews) views.
            </p>    
            <a asp-action="Details" asp-route-id="@item.Id">Comment</a>
            @if ((await AuthorizationService.AuthorizeAsync(User, "MemberRights")).Succeeded)
            {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id"> Delete</a>
            }
        </div>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "MemberRights")).Succeeded)
    {
        <h4>
            <a asp-action="Create">Create New</a>
        </h4>
    }
</div>
